<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Details View from ViewData</title>
</head>
<body>
    @{ var Employee = ViewData["Employee"] as KudVenkat.Models.Employee;
    }
    <h1>@ViewData["PageTitle"]</h1>
    <div>
        Name: @Employee.Name
    </div>
        <div>
        ID: @Employee.ID.ToString()
    </div>
    <div>
        Department: @Employee.Department
    </div>
</body>
</html>