@model KudVenkat.Models.Employee 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Details View from ViewBag</title>
</head>
<body>
    
    <h1>@ViewBag.PageTitle</h1>
    <div>
        Name: @Model.Name
    </div>
        <div>
        ID: @Model.ID.ToString()
    </div>
    <div>
        Department: @Model.Department
    </div>
</body>
</html>