<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Details View</title>>
</head>
<body>
    <h1>This will display the TestDetails.cshtml contents or simply the result from any Action Method being called inside that Action Method.</h1>
</body>
</html>>